.clase1 {font-family: 'Courier New', Courier, monospace;}
.clase2 {font-size: large;}
.clase3 {font-size-adjust: inherit;}
.clase4 {font-stretch: condensed;}
.clase5 {font-style: italic;}
.clase6 {font-variant:normal}
.clase7 {font-weight: 600;}
