.clase1 {font-family: 'Times New Roman', Times, serif;
		 color: blue;}
.clase2 {font-family: helvetica, sans-serif;
		 color: brown;}
.clase3 {font-family: cursive;
		 color: green;}
.clase4 {font-family: fantasy;
		 color: yellow;}
.clase5 {font-family: 'Courier New', Courier, monospace;
		 color: rgb(136, 1, 136);}
.clase6 {font-family: 'JetBrains Mono', monospace;
		 color: rgb(0, 0, 0);}